.module_top, .module_bottom {
    visibility: hidden;
}

table {
    border: 0 !important;
}

.module_content img {
    min-width: 70px;
}

.module_content h2 {
    font-size: 30px;
}

.list-item {
    padding: 8px;
    background: #ffffff;
    border-bottom: 1px solid #9e9e9e;
}

.list-item a {
    color: black;
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-item a img {
    margin-left: 20px;
    width: 2.4rem;
    height: 2.4rem;
}

.list-item a span {
    font-size: 20px;
    margin-left: 10px;
}

i.icon:before {
    width: initial;
    font-size: 2.4rem;
    margin-left: 20px;
}

.git-layout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.git-layout > span {
    margin-right: 10px;
}

.name-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul.breadcrumb {
    list-style: none;
    margin: 0;
}

ul.breadcrumb li {
    display: inline-flex;
    font-size: 20px;
    align-items: center;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb img {
    margin-right: 5px;
    width: 30px;
    margin-bottom: 4px;
}

ul.breadcrumb li a {
    color: #186eb7;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #9b4600;
    text-decoration: underline;
}

.action-bar {
    background-color: #ffffff;
    padding: 8px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.action-bar img {
    margin-right: 10px;
    margin-left: 10px;
}